schedules:
  - cron: "0 0 * * *"
    displayName: Daily midnight build
    branches:
      include:
      - master
    always: true

trigger:
  - master

pool:
  vmImage: ubuntu-latest

steps:
  - checkout: self
    submodules: true
  - task: NodeTool@0
    inputs:
      versionSpec: '14.x'
  - task: Npm@1
    inputs:
      command: 'install'
      workingDir: ''
    displayName: 'Npm Install'
    
  - script: |
      npm install
      npm gatsby build
    displayName: 'gatsby build'
  - task: Npm@1
    inputs:
      command: 'custom'
      customCommand: 'run build'
  - task: AzureStaticWebApp@0
    inputs:
      app_location: '/public'
      api_location: 'api'
      output_location: '/public'
      azure_static_web_apps_api_token: $(token)